.settings/
.myeclipse/
.gradle/
target/
*/.settings
*/.classpath
*/.project
.classpath
.project
.idea/
*.iml
.svn/
.externalToolBuilders/
gradle/
.recommenders/
.metadata/
*/node_modules
node_modules
logs
catalina.*/
*.log
*.gz
**/.DS_Store